body {
    color: rgb(235, 199, 178);
}

* {
    box-sizing: border-box;
}

html {
    background-image: linear-gradient(90deg, rgb(85, 60, 39), rgb(34, 15, 15))
}

h1 {
    color: rgb(97, 56, 6);
    padding: 0.6%;
    margin:auto;
    margin-top:1%;
    width: fit-content;
    text-align: center;
    
    background-image: linear-gradient(0deg, rgb(226, 174, 124), rgb(250, 214, 181));
    border-radius: 10px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
}

h2 {
    color: rgb(197, 127, 41);
    padding: 0.6%;
    margin:auto;
    margin-top:1%;
    width: fit-content;
    text-align: center;
    
    background-image: linear-gradient(0deg, rgb(226, 174, 124), rgb(250, 214, 181));
    border-radius: 10px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    color: rgb(233, 189, 136);
    padding: 0.6%;
    margin:auto;
    width: fit-content;
    text-align: center;

    border-radius: 10px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

p {
    font-family:Arial, Helvetica, sans-serif;
    font-size:medium;
}

#featureTitle{
    border-radius: 5px;
    background-image: linear-gradient(20deg, rgb(224, 86, 86),rgba(197, 61, 61, 0));
    font-size: x-large;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0%;
    padding-left:0.4%;
    min-width: 30%; 
}

#feature1 {
    margin: auto;

    color:rgb(49, 44, 37);
    background-image: linear-gradient(20deg, rgb(212, 134, 134),rgb(224, 86, 86));
    
    box-shadow: 0px 5px 10px rgb(20, 18, 18);
    
    border-radius: 10px;
    
    padding: 2px;
    width: 80%;
}

#feature1_A {
    background-image: linear-gradient(20deg, rgb(194, 47, 47), rgb(224, 86, 86));

    border-radius: 10px;
    
    padding: 10px;
}

#grid {
    gap: 15px;
    display: grid;
}